body{
    padding: 15px;
    margin-left: 400px;
}
#form{
    background-color:beige;
    border: solid;
    padding-left: 15px;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    width: 30%;
    height: 70%;
	margin: auto;
}
h3{
    margin-left: 30%;
}
#fbody{
    padding-left: 50px;
}